 <div class="bg-white p-3 pt-4">

      <LinkTo @route="events" class="btn btn-primary p-2">Back to events</LinkTo>
   <div class="bg-white pt-4">
      <h5 class="card-title">{{@model.title}}</h5>
      <p class="card-text">

        <span>Country:</span> {{@model.country}}<br>
        <span>City:</span> {{@model.city}}<br>
       <span>Program Languages:</span> {{@model.prog_language}}<br>

        <span class="bold">Date:</span> {{@model.date}}<br>

        <span class="bold">Description:</span> {{@model.description}}<br>

      </p>
  </div>
</div>